body {
    background-color: darkblue;
}

p,
h4 {
    color: bisque;
}

.jumbotron {
    background-image: url("bacteria.jpeg");
    background-size: 200% 200%;
    text-align: center;
    color: aquamarine;
}
